.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#banner {
  border-bottom: 7px solid pink;
  background-color: #ffffff;
  width: 100%;
  padding-bottom: 4px;
}

#lbit {
  padding-top: 5px;
  padding-left: 30px;
  padding-bottom: 5px;
}

#background {
  margin: 0px;
  height: 90vh;
  width: 100%;
  background-attachment: fixed;
}

#search-container {
  padding-left: 8px;
  padding-top: 13px;
}

#search {
  padding-left: 10px;
  padding-right: 10px;
  width: 135px !important; 
  height: 38px;
}

#central-column {
  height: auto;
  overflow: "scroll";
  height: "400px";
}

#body-container {
  padding-top: 20px;
}

#technical-modal {
  width: 1300px;
  margin-left: -640px !important;
}

.text-17 {
  font-size:17px;
}

.text-20 {
  font-size: 20px;
}

.beach {
  background-image: url("/img/beach.jpg") !important;
}

.dawn {
  background-image: url("/img/dawn.jpg") !important;
}

.donut {
  background-image: url("/img/donut.jpg") !important;
}

.sailboats {
  background-image: url("/img/sailboats.jpg") !important;
}

.skyline {
  background-image: url("/img/skyline.jpg") !important;
}

.boats {
  background-image: url("/img/boats.jpg") !important;
}

.opacity-0 {
  opacity: 0;
}

.opacity-30 {
  opacity: 0.3;
}

.opacity-90 {
  opacity: 0.9;
}

.opacity-100 {
  opacity: 1;
}
